<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./resources/css/style.css">
</head>
<body>
    <header>
        <img src="/resources/img/expresso.png" class="logo">

        <% if (user.ID_deb == 2) {%>
            <button class="menu" id="menu"><img src="/resources/img/menu-bar.png" alt=""></button>
        <% }else{%>
            <button class="hidden" id="menu"><img src="/resources/img/menu-bar.png" alt=""></button>
        <%}%>
        
        <% if (user.ID_deb == 2) {%>
        <nav id="nav" class="opciones hidden">
            <div id="list">
                <button id="back"><ion-icon name="arrow-forward-outline"></ion-icon></button>
                <li>
                    <ul><a href="/registro">Registrar usuario <ion-icon name="person-add"></ion-icon></a></ul>
                    <ul><a href="/add">Ingresar nueva aplicacion <ion-icon name="reader"></ion-icon></a></ul>
                    <a href="/logout">Salir <ion-icon name="exit"></ion-icon></a>    
                </li>
            </div>
        </nav>
        <% }else{%>
            <a class="visible" href="/logout">salir</a>    
        <%}%>  
    </header>
 
    <% apps.forEach((app)=>{ %>
        <div class="app">
            <a href=<%=app.URL_app%>><img src="/resources/img/<%=app.IMG_app%>" alt=""> </a>
            <p><%=app.NAME_app%></p>
            <% if (user.ID_deb == 2) {%>
                <a href="/update/<%= app.ID_app %>">editar</a>
                <a href="/delete/<%= app.ID_app %>">borrar</a>
            <% } %>
        </div>
        
    <%})%>

    <% if (user.ID_deb == 2) {%>
        <div> 
            <a href="/add">nuevo</a>
        </div>
    <% } %>
    
    <footer>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
        <script src="/resources/js/script.js"></script>
    </footer>
</body>
</html>