<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./resources/css/style.css">
</head>
<body>
    <header>
        <img src="/resources/img/expresso.png" class="logo">

        <% if (user.ID_deb == 2) {%>
            <button class="menu" id="menu"><ion-icon name="menu-outline"></ion-icon></button>
        <% }else{%>
            <button class="hidden" id="menu"></button>
        <%}%>
        
        <% if (user.ID_deb == 2) {%>
        <nav id="nav" class="opciones hidden">
            <div id="list">
                <button id="back"><ion-icon name="close-outline"></ion-icon></button>
                <li>
                    <ul><a href="/registro">Registrar usuario <ion-icon name="person-add"></ion-icon></a></ul>
                    <ul><a href="/add">Ingresar nueva aplicacion <ion-icon name="reader"></ion-icon></a></ul>
                    <a href="/logout" class="logout">Salir <ion-icon name="exit"></ion-icon></a>    
                </li>
            </div>
        </nav>
        <% }else{%>
            <a class="visible logoutB" href="/logout"><ion-icon name="exit"></ion-icon></a>    
        <%}%>  
    </header>
    
    <div class="app-container">
        <% apps.forEach((app)=>{ %>
        <div class="app">
            <a href=<%=app.URL_app%>><img src="/resources/img/<%=app.IMG_app%>" alt=""> <p><%=app.NAME_app%></p></a>
            <% if (user.ID_deb == 2) {%>
                <div>
                    <a href="/update/<%= app.ID_app %>" class="edit">editar</a>
                    <a href="/delete/<%= app.ID_app %>" class="borrar">borrar</a>
                </div>
            <% } %>
        </div>
            
        <%})%>

        <% if (user.ID_deb == 2) {%>
            <div class="app"> 
                <a href="/add" class="new"><ion-icon name="create-outline"></ion-icon> nuevo</a>
            </div>
        <% } %>
    </div>
    
    
    <footer>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
        <script src="/resources/js/script.js"></script>
    </footer>
</body>
</html>