<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./resources/css/style.css">
</head>
<body>
    <div class="container">
        <form action="/save" method="post">
            <h1>Iniciar sesion</h1>
            <div class="inputBox">
                <input type="text" name="user" id="user" required>
                <span class="linea">Nombre de usuario</span>
            </div>
            <div class="inputBox">
                <input type="password" name="password" id="password" required>
                <span class="linea">Contraseña</span>
            </div>

            <button type="submit">Ingresar</button>
        </form>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <%if(typeof alert != "undefined") {%>
        <script>
            swal.fire({
                title: '<%=title%>',
                timer: '<%=timer%>',
                icon: '<%=icon%>',
                showConfirmButton: false,
                text: '<%=text%>'
            }).then(()=>{
                window.location='/<%= ruta %>'
            })
        </script>
    <% } %>
</body>
</html>