<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if (user.ID_deb == 2) {%>
        <% apl.forEach((apl)=>{%>
            <form action="/actualizar" method="post" enctype="multipart/form-data">
                <input type="hidden" name="ID_app" value=<%= apl.ID_app %>>
                <input type="hidden" name="IMG_old" value=<%= apl.IMG_app %>>
                <input type="text" name="NAME_app" id="NAME_app" placeholder="Nombre de la aplicación" value=<%= apl.NAME_app %>>
                <input type="text" name="URL_app" id="URL_app" placeholder="Enlace de la aplicacion" value=<%= apl.URL_app %>>
                <label for="IMG_app">cambiar Imagen</label>
                <input type="file" name="IMG_app" id="IMG_app">
                <img src="/resources/img/<%=apl.IMG_app%>" alt="" srcset="">
                <button type="submit">Ingresar datos</button>
                <a href="/">Volver</a>
            </form>
        <% })%>
    <% } %>
    
</body>
</html>